/* Style navigation bar */
nav a {
    display: block;
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}
 
nav a.active {

}

nav a:hover:not(.active) {
    background-color: #555;
    color: white;
}

/* Body Background */
body {
    background-color: #757575;
}

p {
    font-family:"Segoe UI",Arial,sans-serif;
    font-weight:400;
    margin:10px 0;
}

img {
    width: 100%;
}

/* Halved Left/Right Margins for Equal Sized Cards */
.half-margin-left {
    margin-left:8px!important
}
.half-margin-right {
    margin-right:8px!important
}

/* Get rid of underline on links */
a {
    text-decoration: none;
}